# 1. SEGURIDAD (Para que tus llaves no queden dentro de la imagen)
.env
.git
.gitignore
.env
.env.local
.venv

# 2. Archivos innecesarios en producción
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
venv
env
README.md
update_model.py

# 3. Modelos
*.pkl
!modelo_fraude.pkl
!fraude.pkl