# 1. SEGURIDAD (¡Lo más importante!)
.env
.env.local

# 2. Python Basura
__pycache__/
*.pyc
venv/
.pytest_cache/

# 3. Datos y Modelos
# Ignoramos todos los pickles temporales...
*.pkl
# ...PERO obligamos a que SÍ se suba el modelo oficial para que Render lo vea
!fraude.pkl
!model_fraude.pkl

# 4. Sistema
.DS_Store

# 5. Python de prueba
check_model_inputs.py
test_bruteforce.py