# --- Core API ---
fastapi>=0.95.0
uvicorn>=0.22.0
pydantic>=1.10.0

# --- Procesamiento de Datos ---
pandas
numpy

# --- IA y Modelos ---
scikit-learn
xgboost
joblib

# --- Explicabilidad y Gráficos ---
shap
matplotlib
#google-generativeai